.authentication-button {
	background: var(--color-surface);
	box-shadow: var(--shadow-card);
	padding: var(--spacing-lg);
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	gap: var(--spacing-sm);
	cursor: pointer;
}

.icon {
	width: 2em;
	height: 1.4em;
}